<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Test</title>
</head>
<body>
<style>

body {margin: 1; font-family: Arial, Helvetika, sans-serif;}

.header {
  overflow: hidden;
  padding: 20px;
  background: #000;
  color: white;
  top: 0;
}

.header a {
  float: left;
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.header a.right {
  float: right;
}

.header a.active {
  color: #FF0000;
}

.header a:hover {
  background-color: #444;
}

</style>

<div class="header">
  <a href="#">Portfolio</a>
  <a href="#">Material</a>
  <a href="#">Contacts</a>
  <a href="#" class="right active">Login</a>
</div>

</body>
</html>
