header { 
    position: fixed;
    top: 0;

    background-color: #21252f;
    width: 100%;
    padding: 20px 40px;
    /* border-bottom: 2px solid black; */
}

body {
    font-family: 'Rubik', sans-serif;
    color: white;
    background-color: #141414;
}

li { display: inline-block; }

a {
    color: white;
}

hr { 
    background-color: whitesmoke; 
    height: 1px; 
    border: 0; 
}

.container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 40px;
}

.header-link {
    color: white;
}

.active-page-text {
    font-size: 1.5em;
    color: rgb(23, 197, 145);
}

.light-green-bg {
    width: 100%;
    background-color: rgb(88, 197, 155);
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.col-gap40px {
    column-gap: 40px;
}