.contacts-grid {
    display: grid;
    grid-template-areas: ". contacts .";
    grid-template-columns: 1fr 2fr 1fr;
}

.contacts-column {
    grid-area: contacts;

    display: flex;
    flex-flow: column nowrap;
    justify-self: center;

    width: max(510px, 50vw);
    padding: 0 40px;
    row-gap: 20px;
}

.contact {
    padding: 20px 30px;

    overflow-x: auto;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    background-color:  #2b2b2b;
    border: 1px solid transparent;

    text-transform: uppercase; 
}

.contact:is(:hover, :focus, :focus-visible) {
    border: 1px solid aquamarine;
    transition: border-color 0.15s linear;
    /* transition: color 0.1s linear; */
    color: aquamarine;
}


.social {
    margin-right: 4em;
}

.logo-pic {
    white-space: nowrap;
    width: 1.5em;
    height: 1.5em;
}

.social-text {
    /* vertical-align: middle;
    text-align: center; */
    display: inline-block;
}