.contacts-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
    row-gap: 50px;
    /* column-gap: 77px; */

    /* column-gap: 50px;
    row-gap: 60px; */

    padding: 0 50px;
}

a.contact {
    padding: 20px 30px;

    /* display: flex;
    flex-flow: row nowrap; */
    display: grid;
    grid-template-areas: "logo text"; 
    align-items: center;
    
    column-gap: 1em;

    background-color:  #2b2b2b;

    text-transform: uppercase;
}

.contact:hover, .contact:focus {
    transition: color 0.25s linear;
    color: aquamarine;
}

.social-logo {
    grid-area: logo;
}

.logo-pic {
    width: 1.5em;
    height: 1.5em;
}

.social-text {
    grid-area: text;
    margin-left: auto;
    vertical-align: middle;
    text-align: center;

    display: inline-block;
}