.center-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}


.contact {
    /* при добавлении border не ломать высоту и ширину */

    position: relative;
    max-width: 80%;
    padding: 20px 30px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */

    background-color:  #2b2b2b;
    border: 1px solid transparent;

    text-transform: uppercase; 
}

.contact:hover, .contact:focus {
    border: 1px solid aquamarine;
    transition: border 0.15s linear;
    /* transition: color 0.1s linear; */
    color: aquamarine;
}

.social {
    margin-right: 4em;
}

.logo-pic {
    white-space: nowrap;
    width: 1.5em;
    height: 1.5em;
}

.social-text {
    /* vertical-align: middle;
    text-align: center; */
    display: inline-block;
}