* { box-sizing: border-box; }

hr { 
    background-color: whitesmoke; 
    height: 1px; 
    border: 0; 
}

header { 
    position: absolute;
    top: 0;

    background-color: #21252f;
    width: 100%;
    padding: 20px 40px;
    border-bottom: 2px solid black;
}

li { display: inline-block; }

.container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 40px;
}

body {
    font-family: Arial, Helvetika, sans-serif;
    color: white;
    background-color: #141414;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.col-gap40px {
    column-gap: 40px;
}

.header-link {
    color: white;
}

.active-page-text {
    font-size: 1.5em;
    color: rgb(23, 197, 145);
}

.about-me {
    padding: 20px 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.light-green-bg {
    width: 100%;
    background-color: rgb(88, 197, 155);;
}

#my-image {
    height: 512px;
    width: 512px;
}

.about-me-text {
    padding: 100px 0 0 100px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    
    width: 100%;


    text-align: center;
}

.about-me-text > p {
    white-space: nowrap;
    word-wrap: break-word;
    color: black;
    text-align: left;
    font-size: 32px;
}

.whatican-text {
    margin: 40px 0 20px 0;

    font-size: 72px;
    word-spacing: 0.35em;
    letter-spacing: 0.05em;
    font-style: italic;

    text-align: center;
}

.skills-grid {
    margin-top: 120px;

    display: grid;
    grid-template-areas: "left-space skills right-padding";
    grid-template-columns: 10% 70% auto;
}

.skills-column {
    grid-area: skills;

    display: flex;
    flex-flow: column nowrap;
    row-gap: 50px;
}

.white-borders {
    flex-basis: 300px;

    padding: 40px;
    border: 1px solid white;
    border-left: none;
    border-right: none;

    background-color: #1a1a1a;
}
