.wrapped-row {
    width: 100%;
    padding: 0 50px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;

    gap: 20px;
}

.project {
    width: 30%;

    display: flex;
    flex-flow: column nowrap;

    gap: 20px;

    background-color: dimgrey;
}

.project-img {
    width: 100%;
    
}