<!-- В фигурных скобочках указываються блоки наследования, то есть будет как шаблон.
     Всё что написано тут как обычно распространяется на страницы которые наследуют,
     и в тех же страницах будет добавлено что-то особенное в block .
     Например при создании страницы, которая будет наследовать эту, в начале будет
     указано что мы наследуем всё отсюда. Потом будет строиться по блоках.
     В блоке block title будет записан тайтл, после чего закрываем endblock
     и начинаем писать в блок контент. Зачем это? Сокращение кол-ва кода, не приходится
     везде писать а потом искать чуть что какие-то ошибки и тд, а самое главное, это то
     что можно вписать например header и footer, и он будет на всех остальных страницах-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  <!-- Стили тут, как обычно прописывать только в href по примеру как тут. Assets и все остальное наверное тоже, только тогда load assets сделай или как угодно будет -->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<!-- Тут например можно написать хедер. Он будет распространяться на все страницы. После него контент(логично) -->
{% block content %}
{% endblock %}
<!-- Футер аналогично -->
</body>
</html>